      <nav class="navbar" role="navigation">
        <div class="container rule-bottom">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand logo-nav" href="/">
              <img src="/assets/img/logo_150x75.png">
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/about/">About Us</a></li>
                  <!-- <li><a href="/about/directors&#45;message/">Director's Message</a></li> -->
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle"
                  data-toggle="dropdown">Services <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/services/">Services We Offer</a></li>
                  <li class="divider"></li>
                  <li><a href="/services/telecom-engineering-services/">Telecommunication Engineering</a></li>
                  <li><a href="/services/low-voltage-systems/">Enterprise Solutions</a></li>
                  <li><a href="/services/electro-mechanical-systems/">Electro-Mechanical Systems</a></li>
                  <li><a href="/services/construction-civil-engineering/">Construction &amp; Civil Engineering</a></li>
                  <li><a href="/services/facilities-management-manpower-services/">Facilities Management &amp; Manpower</a></li>
                  <li><a href="/services/industrial-power-management/">Industrial Power</a></li>
                  <!-- <li><a href="/services/maine&#45;off&#45;shore&#45;and&#45;industrial&#45;division/">Maine, Off&#45;shore and Industrial Division</a></li> -->
                </ul>
              </li>
              <li><a href="/clients/">Clients</a></li>
              <li><a href="/channel-partners-2/">Technology Partners</a></li>
              <li><a href="/careers/">Careers</a></li>
              <li><a href="/contact/">Contact</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
      </nav>
